POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_IMAGE_NAME=airflow-app:latest
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=L7qF-7_7sY9qsK0kGugHgdGXN53BJ38qRAjPR9U1Fro=
AIRFLOW__WEBSERVER__SECRET_KEY=7b9d9d3c6e2b4a78b46a3e2d4f1a7c9f

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_FIRSTNAME=Airflow
_AIRFLOW_WWW_USER_LASTNAME=Admin
_AIRFLOW_WWW_USER_EMAIL=admin@example.com

AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres:5432/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0